div[id^="response-"] + div > div:has(> span),
div[id^="schema-"] + div > div:has(> span),
#content-area > #header + div > div.mt-6.flex.w-full.flex-col.space-y-4 {
    display: none;
}

#content-area > #header + div > div.mt-6.flex.w-full.flex-col.space-y-4 + div {
    margin-top: 2rem;
}

#navigation-items a.group > span {
    display: none;
}

@media (min-width: 1024px) {
    #navbar + div,
    #navbar-transition + div {
        max-width: none;
        padding: 0;
    }

    #sidebar {
        margin-left: 1rem;
        top: 0 !important;
        border-right: rgb(216, 222, 228) 1px solid;
    }

    #sidebar-content {
        top: 4rem;
        padding-bottom: 1rem;
        padding-right: 0;
    }
}

@media (min-width: 1280px) {
    #navigation-items div:hover,
    #navigation-items a:not(.bg-primary\/10):hover {
        background-color: transparent;
    }

    #navigation-items div:has(> svg[style*="pen-paintbrush.svg"]) {
        font-weight: bold;
        justify-content: space-between;
    }

    #navigation-items div:has(> svg[style*="pen-paintbrush.svg"]) > svg {
        background-color: red;
    }

    #navigation-items div > svg[style*="pen-paintbrush.svg"] {
        display: none;
    }

    #navigation-items > div svg:only-of-type {
        display: none;
    }

    #content-area {
        padding-left: min(28rem, calc(22rem + 5vw));
        width: calc(100% - 46rem);
    }

    #content-side-layout {
        padding-right: min(6rem, 5vw);
    }

    #content-side-layout > div {
        width: min(40rem, 35vw);
    }
}
